@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,600);

body {
	background-color: #CCCCCC;
  font-family: 'Roboto', sans-serif;
	min-height: 100%;
  padding-top: 51px;  
}

a {
	color: #336699;	
}

.text-center {
  padding-top: 20px;
}
.col-xs-12 {
  background-color: #fff;
}
#sidebar {
  height: 100%;
  padding-right: 0;
  padding-top: 20px;
}
#sidebar .nav {
  width: 95%;
}
#sidebar li {
  border:0 #f2f2f2 solid;
  border-bottom-width:1px;
}
.navbar-header {
  width: 100%;
  padding-left: 5%;
}

/* collapsed sidebar styles */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -41.6%;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -41.6%;
  }
  .row-offcanvas-right.active {
    right: 41.6%;
  }
  .row-offcanvas-left.active {
    left: 41.6%;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 41.6%;
  }
  #sidebar {
    padding-top:0;
  }
}

.container {
	padding: 0;
	margin: 0;
}

.bp-card {
  padding-top: 5%;
}
.panel-default > .panel-heading {
	background-color: #00ccff;
	color: white;
	font-weight: 400;
}

.position-relative { position: relative; }

.blueprint .panel img {
	width: 100%;
	opacity: 0.9;
	background-color: #000;
	position: relative;
	border-radius: 5px;
}

.blueprint .panel .label, 
.blueprint .panel .badge {
	position: absolute;
	right: 40px;
	top: 40px;
}

.blueprint-name {

	color: #cccccc;
	padding: 10px;
	display: block;

    font-style: normal;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.40909;
    background-color: #222;
    opacity: 0.8;

	font-family: 'Roboto', sans-serif;
	position: absolute;
	top: 30px;
	max-width: 60%;
	border-radius: 0 5px 5px 0;
	box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.15);
}

.blueprint-name:hover {
	color: white;
	text-decoration: none;
}